html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #1b304a;
}
canvas {
    left:0;
    top:0;
    z-index: 1;
    position:absolute;
    background-color: #6de2d2;
}

#stats {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
